<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand-logo">Redia</a>
  </div>
  
  <div class="navbar-menu">
    <a routerLink="/home" class="nav-link">Home</a>
    <div class="nav-dropdown">
      <button class="nav-link dropdown-toggle">Menu</button>
      <div class="dropdown-menu">
        <a routerLink="/cliente/dashboard" class="dropdown-item">cliente Dashboard</a>
        <a routerLink="/admin/dashboard" class="dropdown-item">Admin Dashboard</a>
        <a routerLink="/recepcionista/dashboard" class="dropdown-item">Recepcionista Dashboard</a>
      </div>
    </div>
  </div>

  <div class="navbar-actions">
    <app-profile></app-profile>
  </div>
</nav>
